.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 45px;
    margin: 100px auto;
    justify-items: center;
}
.cart-container{
    background-color: rgba(219, 162, 130, 0.904);
    margin-top: 30px;
    max-height: 1000px;
}
.choose-btn1,
.choose-btn2{
    border: none;
    padding: 10px 20px;
    margin: 10px 5px;
}
@media screen and (max-width:768px) {
    .shop-container{
        grid-template-columns: 1fr;
    }
    .products-container{
        grid-template-columns: 1fr;
        margin: 100px 0;
        
    }
}
@media screen and (min-width:769px) and (max-width:1024px) {
    .shop-container{
        grid-template-columns: 3fr 1fr;
    }
    .products-container{
        grid-template-columns: repeat(2,1fr);
        margin: 100px 50px;
    }
}