.header{
    background-color: rosybrown;
    height: 110px;
    width: 100%;
}
.header h1{
    margin: 0;
    font-weight: 700;
    font-size: 50px;
    padding-top: 18px;
    color: white;
    display: inline-block;
    border-bottom: 2px dotted white;
}
@media screen and (max-width:768px) {
    *{
        overflow-x: hidden;
    }
    .header h1{
        font-size: 30px;
        padding-top: 30px;
    }
}

